/* Life Video CSS */
.lifeVideo {
  position: relative;

  .video-wrapper{
    margin-top: 0;

    video{
      width: 100%;
      display: block;

      position: relative;
      z-index: 2;

      background-repeat: no-repeat;
      background-size: 30px 30px;
      background-position: center;
      background-image:  url("ajax-loader.gif")!important;
    }
  }

  .container{
    position: absolute;
    left: 50%;
    margin-left: 0 !important;
    transform: translate(-50%, -50%) !important;
    width: 80%;
    top: 35%;
    z-index: 4;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 30px;

    h2{
      font-size: 36px;
    }
  }


  .bg-overlay{
    background:#282c37;
    opacity:0.5;

    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 3;
  }


  &.youtube{
    /*height: 700px;*/
    width: 100%;
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;

    // https://stackoverflow.com/questions/14562457/center-oversized-image-in-div/41059954
    /*@media (max-width: 400px) {
      iframe{
        position: absolute;
        left: -7993px;
        right: -8164px;
        margin: auto;
      }
    }*/
  }
}
